button {
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
button:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
}

.back-main {
  background: url(../../public/img/bg-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}
.main_btn {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_title {
  margin-bottom: 30px;
  font-size: 30px;
  color: #443850;
}
.main_link {
  display: block;
  width: 400px;
  height: 200px;
  border: 1px solid #443850;
  border-radius: 50px;
  transition: all 0.3s;
}
.main_link:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 10px rgba(34, 60, 80, 0.5);
}
.main_link-cats {
  background: url(../../public/img/cat.gif);
  background-size: cover;
}
.main_link-anime {
  background: url(../../public/img/anime.gif);
  background-size: cover;
}

.nav_link {
  display: block;
  width: 100%;
  color: #000;
  transition: color 0.3s;
  padding: 10px 16px;
}
.nav_link:hover {
  color: #443850;
}

.back-cats {
  background: url(../../public/img/bg-cats.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cats {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.cats_files {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.file_last {
  margin-top: 10px;
  width: 80%;
}
.file_item {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.file_img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
.file_fact {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}
.file_btn {
  background-color: #e0a254;
  border: none;
  transition: all 0.3s;
  border-radius: 15px;
  padding: 15px;
  font-size: 18px;
}

.back-anime {
  background: url(../../public/img/bg-anime.jpg);
  background-position: bottom 0 right 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.anime {
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  padding-top: 60px;
}
.anime_items {
  height: 100%;
  display: flex;
}
.anime_btn {
  background-color: #8ddbff;
  padding: 15px;
  font-size: 18px;
  border-radius: 15px;
}

.waifu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.waifu_item {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
  padding: 10px;
}
.waifu_img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  opacity: 0;
}

.find {
  display: flex;
  flex-direction: column;
  width: 800px;
}
.find_form {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 150px;
  margin-bottom: 50px;
}
.find_input {
  background-color: transparent;
  padding: 15px;
  border: none;
  width: 100%;
}
.find_btn {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #8ddbff;
  padding: 15px;
  font-size: 18px;
}
.find_btn:hover {
  box-shadow: none;
  background-color: #5fb8e1;
}
.find_btn:active {
  transform: scale(1);
  background-color: #2c99cc;
}
.find_content {
  width: 100%;
  position: relative;
}
.find_files {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.find_text {
  font-size: 20px;
  width: 90%;
}
.find_loading {
  position: absolute;
}
.find_loading-text {
  font-size: 24px;
  margin-bottom: 20px;
}
.find_loading-img {
  width: 300px;
}

.error {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}
.error_img {
  width: 300px;
  margin-top: 10px;
}

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
}
.loading_img {
  border-radius: 15px;
  width: 300px;
}
.loading_text {
  position: absolute;
  font-size: 24px;
  top: -50px;
}
.loading_text_find {
  top: 0;
}

.cat_loader {
  font-size: 28px;
  font-weight: bold;
}/*# sourceMappingURL=App.css.map */